*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0;
}
.main{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/image1.jpg);
    background-size: cover;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 10%;
    background-color: rgba(99, 99, 99, 0.479);
    color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.login, .nav{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
    color: pink;
}
a:hover{
    color: rgb(212, 199, 210);
}
.login{
    width: 20%;
}
.nav{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
#home,#gallary,#about,#yourProfile,#login,#signup{
    border-bottom: 1px solid white;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .quote{
    width: 100%;
    padding: 10%;
}
#home{
    width: 100%;
    height: 100vh;
    
}
#gallary{
    width: 100%;
    height: 100vh;
    background-color: rgb(124, 124, 124);

}
#gallary .images{
    width: 100%;
    height: 90%;
    padding: 2%;
    text-align: center;
    overflow-x: scroll;
}
.images img{
    width: 350px;
}
#about{
    width: 100%;
    height: 100%;

}
#yourProfile{
    width: 100%;
    height: 100vh;

}
#yourProfile .profile{
    width: 100%;
    height: 90%;
    padding: 10%;
}
#login{
    width: 100%;
    height: 100vh;
}
#signup{ 
    width: 100%;
    height: 100vh;
}
#login form{
    border-radius: 10px;
    width: 100%;
    height: 90%;
    padding: 2%;
    box-shadow: 0 0 15px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#login form div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    width: 80%;
    padding: 1% 0 1% 2% ;
    outline: none;
    border: none;
    border-radius: 4px;
}
button{
    width: 100%;
    padding: 1% 5% 1% 5% ;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
}
#signup form{
    border-radius: 10px;
    width: 100%;
    height: 90%;
    padding: 2%;
    box-shadow: 0 0 15px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#signup form div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}